.valuesList {
    width: 95%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: auto;
}


.listItem {
    display: flex;
    overflow: auto;
    justify-content: center;
    margin: 2%;
    font: 30px game;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    color: white;
    border: 1px solid rgba(255, 255, 255,.5);
}

.listEmpty {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    height: 100%;
    padding: 15px;
    align-items: center;
    font: 30px game;
    color: white;
}