<div class="wrapping">
    <h1 style="margin-bottom: 55px;">Sobre o aplicativo</h1>
    <article>
        <section class="text">
            Este aplicativo tem o objetivo de facilitar a realização de sorteios, fornecendo para isso
            uma inteface simples e intuitiva. Este software é totalmente gratuito! ou seja seu uso não
            gerará nenhum tipo de custo ao usuário.
        </section>

        <section class="text">

            Além disso este app é open source (sobre a licensa GPL-3.0), o que quer dizer que aquele
            que desejar pode clonar o código dessa aplicação e editar customizar conforme desejar.
        </section>
    </article>

    <h1 style="margin-bottom: 55px;">
        Objetivo
    </h1>
    <article>
        <section class="text">
            Meu nome é Alexandre dos Santos Maximiano Ribeiro, sou graduado em análise e desenvolvimento
            de sistemas e pós graduado em analise de dados com BI e Big Data, e decidi, junto Com meu primo
            Charles Maximiano Bezerra (que é um youtuber e desenhista muito criativo que vai estar me
            ajudando com o design) .criar esse aplicativo por
            alguns motivos bem básicos... Primeiro, pra eu colocar meus conhecimentos em prática.
            Do que adianta ter conhecimento se você não usar ele pra algo, certo? Então eu decidi
            usar meu conhecimento pra fazer coisas básicas que vão me forçar a exercitar o que eu sei
            e assim por consequência me levar a mais um outro objetivo.
        </section>

        <section class="text">
            Lapidar meus conhecimentos. Como? simples... conforme eu for desenvolvendo eu vou encontrar
            barreiras o que vai me forçar a buscar formas de lidar com isso e vai me tornar mais experiente
            pra lidar com determinados tipos de problemas. Então, sem querer eu vous er forçado
            a estudar mais.
        </section>

        <section class="text">
            Um outro motivo, é que estou ainda que de uma forma bem simples (talvez quase banal) estou
            contribuindo com algo que não é meramente egoísta. Decidi criar isso especificamente pra
            igreja onde congrego, visto que eles fazem bastante sorteios e já descobri que meu primo que
            gosta de streamar pode usar nas lives dele... talvez outras igrejas e outros streamers possam
            utilizar também... e o melhor sem nenhum custo.
        </section>

        <section class="text">
            E ultimo, serve como algo que acredito e pretendo mostrar como portfólio.
        </section>
    </article>

    <h1 style="margin-bottom: 55px;">
        Pro futuro
    </h1>
    <article>
        <section class="text">
            Decidi que vou estar sempre procurando lançar alguma aplicação de utilidade simples 
            e sem custo para quem quiser usar livremente. Então vira e mexe vou estar procurando
            lançar algo. 
        </section>

        <section class="text">
            Já tenho algo em mente... vai ser um aplicativo de flash card que vou construir para
            ajudar a mim mesmo e a outras pessoas a estudar... concurseiros (o que vou virar... kkkk),
            universitários, etc.
        </section>

        <section class="text">
            Em breve vou estar não só lançando essas aplicações para desktop, mas também para 
            smartphones (android, a principio), usando flutter. Em breve você vai ver :)
        </section>
        
    </article>

    <h1 style="margin-bottom: 55px;">
        Considerações finais
    </h1>
    <article>
        <section class="text">
            Gostou? Tem alguma dúvida? quer deixar sugestão? ou quer fazer uma doação por pix (pra
            encorajar, motivar, etc.)?
        </section>
        <section class="text">
            Segue aqui meu email: Alelogovir@gmail.com (pix também)
        </section>
        
    </article>
</div>