<div class="mainScreen">

  <div class="titleBar">

    <div class="fontValues">
      retirados: {{num.getNumberQuantity()}}
    </div>

    <h1 class="font">Sorteio</h1>

    <div class="fontValues">
      Máximo: {{num.getMaxNumber()}}
    </div>

  </div>

  <div class="body">

    <router-outlet></router-outlet>

  </div>

  <div class="bottomBar">
    <button mat-icon-button class="iconButton" (click)="openDialog()">
      <mat-icon class="icon">settings</mat-icon>
    </button>
    <button mat-icon-button class="iconButton">
      <mat-icon class="icon" routerLink="selected">menu</mat-icon>
    </button>
    <button mat-icon-button class="iconButton" (click)="takeANumber()">
      <mat-icon class="icon">play_arrow</mat-icon>
    </button>
    <button mat-icon-button class="iconButton">
      <mat-icon class="icon" (click)="num.reset()">refresh</mat-icon>
    </button>
    <button mat-icon-button class="iconButton">
      <mat-icon class="icon" routerLink="info">info</mat-icon>
    </button>
  </div>

</div>